{erl_opts, [debug_info]}.
{deps, [
		{jsx, "2.8.0"},
		{uuid, {git, "https://github.com/okeuday/uuid", {tag, "v1.7.2"}}},
		{worker_pool, {git, "https://github.com/inaka/worker_pool.git", {ref, "edff5aead77231377d09eb59c055bf7c8c236aef"}}}
]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [nx1]}
]}.
